<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114566651471-ou9dfbir2fhrl0678ufilcn4k3pmind8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114566651471-ou9dfbir2fhrl0678ufilcn4k3pmind8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>114566651471-9s7am2c5het2tebb3fi8331aq7k4b765.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMs1EsaoFIOe-UkUPqytMzRv8TrMTwBro</string>
	<key>GCM_SENDER_ID</key>
	<string>114566651471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leonhellqvist.ktcApp</string>
	<key>PROJECT_ID</key>
	<string>ktc-app-54116</string>
	<key>STORAGE_BUCKET</key>
	<string>ktc-app-54116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114566651471:ios:467b2241361fed9c12d43a</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1670699619757926~6204279254</string>
</dict>
</plist>